<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container{
            margin: 0 auto;
            height: 500px;
            width: 300px;
        }
        .new_ninja {
            display: flex;
            flex-direction: column;
        }
    </style>
    <title>Ninja</title>
</head>

<body>
    <div class="container">
        <h1>New Ninja</h1>
        <form action="/create_ninja" class="new_ninja" method="post">
            <input type="text" name="first_name" id="" value="First Name">
            <input type="text" name="last_name" id="" value="Last Name">
            <input type="text" name="age" id="" value="Age">
            Dojo: <select name="dojo_id" id="">
                {% for dojo in dojos %}
                <option value="{{dojo.id}}">{{dojo.name}}</option>
                {% endfor %}
                <input type="submit" value="Create">
            </select>
        </form>
    </div>
</body>

</html>